<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="http://github.com/lantrinhca">Lan</a>. A web developer who is on a mission to offer his technical skills needed to launch their products and turn ideas into reality.
  </p>
  <br />
  <p>
<<<<<<< HEAD
    He had implemented lot of great ideas into work places, and developing applications to support Aerospace production falcility.
=======
    He had implemented lot of great ideas into work places, and developed applications to support Aerospace production falcility.
>>>>>>> b501729d5bf4ffcfb31a502733a2b5f6b06d8011
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'lan.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Lan Trinh</h2>
    <br />
    <p>
<<<<<<< HEAD
      Lan Trinh is a web developer and engineering technologist, who like problem solving and bring new idea to improved work efficiency, received Achivement Award from <a href="http://comdev.ca" target="_blank">Com Dev International.</a>
=======
      Lan Trinh is a web developer and engineering technologist, who likes problem solving and bring new idea to improve work efficiency, received Achievement Award from <a href="http://comdev.ca" target="_blank">Com Dev International.</a>
>>>>>>> b501729d5bf4ffcfb31a502733a2b5f6b06d8011
    </p>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />